{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}

{% macro format(value) -%}
    {% if value %}
        {% if value is iterable and (value is not string and value is not mapping) %}
        {{ value|join(', ') }}
        {% else %}
        {{ value }}
        {% endif %}
    {% else %}
        -
    {% endif %}
{%- endmacro %}
{% block content %}
<h1>Formulation Details</h1>
<p></p>
<h2></h2>

<h3>Product Properties</h3>
<table class="table">
    <tr>
        <td>Stability</td>
        <td>{{ format(formul.stability) }}</td>
    </tr>
    <tr>
        <td>Oilyness</td>
        <td>{{ format(formul.oiliness)}}</td>
    </tr>
    <tr>
        <td>Viscosity</td>
        <td>{{ format(formul.viscosity)}}</td>
    </tr>
    <tr>
        <td>Total Surfactant Qte</td>
        <td>{{ format(formul.surfactQte)}}</td>
    </tr>
    <tr>
        <td>Total Thickener Qte</td>
        <td>{{ format(formul.thickenerQte)}}</td>
    </tr>
    <tr>
        <td>Nb Surfactant</td>
        <td>{{ format(formul.surfactNb)}}</td>
    </tr>
    <tr>
        <td>Total Oily Phase</td>
        <td>{{ format(formul.oilyPhaseQte)}}</td>
    </tr>
    <tr>
        <td>Formulation price (for 1 Kg)</td>
        <td>{{ format(formul.price)}}</td>
    </tr>
    <tr>
        <td>Formulation HLB</td>
        <td>{{ format(formul.HLB)}}</td>
    </tr>
    <tr>
        <td>Formulation Required HLB</td>
        <td>{{ format(formul.RHLB)}}</td>
    </tr>
    <tr>
        <td>Emollient/surfacant balance (HLB/RHLB)</td>
        <td>{{ format(formul.ratio)}}</td>
    </tr>
</table>

<h3>Dosages</h3>
{{ render_table(formul.dosages, [('ing', 'Ingredient'), ('qte', 'Quantity')]) }}

<h3>Satisfied Heuristics</h3>
{{ render_table(heur, [('id', 'ID'), ('description', 'Description')]) }}

<h3>Actions</h3>
<h4>Quantity calculation</h4>
<div class="row">
    <div class="col-sm">
        <form action={{ url_for("page_formul_details", name=formul.name) }}>
            <input type="hidden" id="action" name="action" value="water">
            <input class="btn btn-primary text-white" type="submit" value="Calculate Water">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="price">
            <input class="btn btn-primary text-white"  type="submit" value="Calculate Price">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="surfactantQte">
            <input class="btn btn-primary text-white"  type="submit" value="Calculate Surfactant Quantity">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="surfactantNb">
            <input class="btn btn-primary text-white"  type="submit" value="Count Surfactant Number">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="thickenerQte">
            <input class="btn btn-primary text-white"  type="submit" value="Calculate Thickener Quantity">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="HLB">
            <input class="btn btn-primary text-white"  type="submit" value="Calculate Emollient & Surfactant balance">
        </form>
    </div>
</div>

<h4>Misc</h4>
<div class="row">
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="reasoning">
            <input class="btn btn-primary text-white"  type="submit" value="Reasoning">
        </form>
    </div>
    <div class="col-sm">
        <form action={{url_for("page_formul_details", name=formul.name)}}>
            <input type="hidden" id="action" name="action" value="save">
            <input class="btn btn-primary text-white"  type="submit" value="Save Onto">
        </form>
    </div>
</div>

{% endblock %}