{% extends 'base.html' %}
{% from 'base/utils.html' import render_icon%}

{% macro format(value) -%}
{% if value is not none %}
{% if value is iterable and (value is not string and value is not mapping) %}
{{ value|join(', ') }}
{% else %}
{{ value }}
{% endif %}
{% else %}
-
{% endif %}
{%- endmacro %}

{% block content %}
<h1>Formulations</h1>
<p></p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Formulation properties
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            {% for title in titles_prop %}
                            <th scope="col">{{ title[1] }}</th>
                            {% endfor %}
                            {% if show_actions %}
                            <th scope="col">Actions
                                {% if new_url %}
                                <a class="action-icon text-decoration-none" {% if new_url.startswith('/') %}
                                    href="{{ new_url }}" {% else %} href="{{ url_for(new_url) }}" {% endif %}
                                    title="{{ config['BOOTSTRAP_TABLE_NEW_TITLE'] }}">
                                    {{ render_icon('plus-circle-fill') }}
                                </a>
                                {% endif %}
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data_prop %}
                        <tr>
                            {% for title in titles_prop %}
                            {% set key = title[0] %}
                            {% set value = row[key] %}
                            {%- if key == primary_key -%}
                            <th scope="row">
                                {%- else -%}
                            <td>
                                {%- endif -%}
                                {%- if value is string -%}
                                {%- if safe_columns and key in safe_columns -%}
                                {{ value|safe }}
                                {%- else -%}
                                {%- if urlize_columns and key in urlize_columns -%}
                                {{ value|urlize }}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- endif -%}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- if key == primary_key -%}
                                </th>
                                {%- else -%}
                            </td>
                            {%- endif -%}
                            {% endfor %}
                            <td>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_details', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('eye-fill') }}</a>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_edit', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('pencil-square')
                                    }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Heuristics validation
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            {% for title in titles_heur %}
                            <th scope="col">{{ title[1] }}</th>
                            {% endfor %}
                            {% if show_actions %}
                            <th scope="col">Actions
                                {% if new_url %}
                                <a class="action-icon text-decoration-none" {% if new_url.startswith('/') %}
                                    href="{{ new_url }}" {% else %} href="{{ url_for(new_url) }}" {% endif %}
                                    title="{{ config['BOOTSTRAP_TABLE_NEW_TITLE'] }}">
                                    {{ render_icon('plus-circle-fill') }}
                                </a>
                                {% endif %}
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data_heur %}
                        <tr>
                            {% for title in titles_heur %}
                            {% set key = title[0] %}
                            {% set value = row[key] %}
                            {%- if key == primary_key -%}
                            <th scope="row">
                                {%- else -%}
                            <td>
                                {%- endif -%}
                                {%- if value is string -%}
                                {%- if safe_columns and key in safe_columns -%}
                                {{ value|safe }}
                                {%- else -%}
                                {%- if urlize_columns and key in urlize_columns -%}
                                {{ value|urlize }}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- endif -%}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- if key == primary_key -%}
                                </th>
                                {%- else -%}
                            </td>
                            {%- endif -%}
                            {% endfor %}
                            <td>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_details', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('eye-fill') }}</a>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_edit', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('pencil-square')
                                    }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Fomulation specification
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            {% for title in titles_spec %}
                            <th scope="col">{{ title[1] }}</th>
                            {% endfor %}
                            {% if show_actions %}
                            <th scope="col">Actions
                                {% if new_url %}
                                <a class="action-icon text-decoration-none" {% if new_url.startswith('/') %}
                                    href="{{ new_url }}" {% else %} href="{{ url_for(new_url) }}" {% endif %}
                                    title="{{ config['BOOTSTRAP_TABLE_NEW_TITLE'] }}">
                                    {{ render_icon('plus-circle-fill') }}
                                </a>
                                {% endif %}
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data_spec %}
                        <tr>
                            {% for title in titles_spec %}
                            {% set key = title[0] %}
                            {% set value = row[key] %}
                            {%- if key == primary_key -%}
                            <th scope="row">
                                {%- else -%}
                            <td>
                                {%- endif -%}
                                {%- if value is string -%}
                                {%- if safe_columns and key in safe_columns -%}
                                {{ value|safe }}
                                {%- else -%}
                                {%- if urlize_columns and key in urlize_columns -%}
                                {{ value|urlize }}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- endif -%}
                                {%- else -%}
                                {{ format(value) }}
                                {%- endif -%}
                                {%- if key == primary_key -%}
                                </th>
                                {%- else -%}
                            </td>
                            {%- endif -%}
                            {% endfor %}
                            <td>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_details', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('eye-fill') }}</a>
                                <a class="action-icon text-decoration-none"
                                    href="{{url_for('page_formul_edit', name = row['name'])}}"
                                    title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('pencil-square')
                                    }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



{% endblock %}